{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Review the changes before submitting
      </h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Text before change</th>
            <th scope="col" class="govuk-table__header">Text after change</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" id="change_1">
            <td class="govuk-table__cell">Ben Testington</td>
            <td class="govuk-table__cell">Ben ##########</td>
            <td class="govuk-table__cell"><a href="javascript:undo_click('change_1')" class="govuk-link">Undo change</a></td>
          </tr>
          <tr class="govuk-table__row" id="change_2">
            <td class="govuk-table__cell">Mr B Testington</td>
            <td class="govuk-table__cell">Mr B ##########</td>
            <td class="govuk-table__cell"><a href="javascript:undo_click('change_2')" class="govuk-link">Undo change</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a href="start" class="govuk-link">Undo all changes</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"><a href="start" class="govuk-link">Make more change</a></td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-s">
        View account filing: XXVOFNWB
      </h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">
        <a href="#" class="govuk-link">Accounts before changes</a>
      </p> 
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">
        <a href="#" class="govuk-link">Accounts after changes</a>
      </p> 
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="success" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Submit
      </a>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}
