{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Redaction of account XXVOFNWB
      </h1>

        <p class="govuk-body">
          <a href="#" class="govuk-link">Accounts before changes</a>
        </p> 
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="search">
            Search for data to suppress
          </label>
        </h2>
        <input class="govuk-input govuk-input--width-20" id="search" name="search" type="text">
      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Results</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" id="result_1">
            <td class="govuk-table__cell" id="result_1_text">Ben Testington</td>
            <td class="govuk-table__cell">
              <a href="javascript:select_click('result_1')" class="govuk-link">Select</a>
            </td>
          </tr>
          <tr class="govuk-table__row govuk-visually-hidden" id="result_1_expanded">
            <td class="govuk-table__cell">Ben Testington</td>
            <td class="govuk-table__cell">
              <textarea class="govuk-textarea" id="result_1_textbox" name="result_1_textbox" rows="3">Ben Testington</textarea>
              <span id="redact_link_1" style="padding-right: 20px;"><a href="javascript:redact_click('result_1')" class="govuk-link">Redact</a></span>
              <span id="change_link_1" style="padding-right: 20px;"><a href="javascript:change_click('result_1')" class="govuk-link">Manual change</a></span>
              <span class="govuk-visually-hidden" id="save_link_1" style="padding-right: 20px;"><a href="javascript:save_click('result_1')" class="govuk-link">Save</a></span>
              <span style="float: right;"><a href="javascript:close_click('result_1')" class="govuk-link">Close</a></span>
            </td>
          </tr>
          <tr class="govuk-table__row" id="result_2">
            <td class="govuk-table__cell" id="result_2_text">Tester Street</td>
            <td class="govuk-table__cell">
              <a href="javascript:select_click('result_2')" class="govuk-link">Select</a>
            </td>
          </tr>
          <tr class="govuk-table__row govuk-visually-hidden" id="result_2_expanded">
            <td class="govuk-table__cell">Tester Street</td>
            <td class="govuk-table__cell">
              <textarea class="govuk-textarea" id="result_2_textbox" name="result_2_textbox" rows="3">Tester Street</textarea>
              <span id="redact_link_2" style="padding-right: 20px;"><a href="javascript:redact_click('result_2')" class="govuk-link">Redact</a></span>
              <span id="change_link_2" style="padding-right: 20px;"><a href="javascript:change_click('result_2')" class="govuk-link">Manual change</a></span>
              <span class="govuk-visually-hidden" id="save_link_2" style="padding-right: 20px;"><a href="javascript:save_click('result_2')" class="govuk-link">Save</a></span>
              <span style="float: right;"><a href="javascript:close_click('result_1')" class="govuk-link">Close</a></span>
            </td>
          </tr>
          <tr class="govuk-table__row" id="result_3">
            <td class="govuk-table__cell" id="result_3_text">Mr B Testington</td>
            <td class="govuk-table__cell">
              <a href="javascript:select_click('result_3')" class="govuk-link">Select</a>
            </td>
          </tr>
          <tr class="govuk-table__row govuk-visually-hidden" id="result_3_expanded">
            <td class="govuk-table__cell">Mr B Testington</td>
            <td class="govuk-table__cell">
              <textarea class="govuk-textarea" id="result_3_textbox" name="result_3_textbox" rows="3">Mr B Testington</textarea>
              <span id="redact_link_3" style="padding-right: 20px;"><a href="javascript:redact_click('result_3')" class="govuk-link">Redact</a></span>
              <span id="change_link_3" style="padding-right: 20px;"><a href="javascript:change_click('result_3')" class="govuk-link">Manual change</a></span>
              <span class="govuk-visually-hidden" id="save_link_3" style="padding-right: 20px;"><a href="javascript:save_click('result_3')" class="govuk-link">Save</a></span>
              <span style="float: right;"><a href="javascript:close_click('result_3')" class="govuk-link">Close</a></span>
            </td>
          </tr>
          <tr class="govuk-table__row" id="result_4">
            <td class="govuk-table__cell" id="result_4_text">Test Ltd</td>
            <td class="govuk-table__cell">
              <a href="javascript:select_click('result_4')" class="govuk-link">Select</a>
            </td>
          </tr>
          <tr class="govuk-table__row govuk-visually-hidden" id="result_4_expanded">
            <td class="govuk-table__cell">Test Ltd</td>
            <td class="govuk-table__cell">
              <textarea class="govuk-textarea" id="result_4_textbox" name="result_4_textbox" rows="3">Test Ltd</textarea>
              <span id="redact_link_4" style="padding-right: 20px;"><a href="javascript:redact_click('result_4')" class="govuk-link">Redact</a></span>
              <span id="change_link_4" style="padding-right: 20px;"><a href="javascript:change_click('result_4')" class="govuk-link">Manual change</a></span>
              <span class="govuk-visually-hidden" id="save_link_4" style="padding-right: 20px;"><a href="javascript:save_click('result_4')" class="govuk-link">Save</a></span>
              <span style="float: right;"><a href="javascript:close_click('result_4')" class="govuk-link">Close</a></span>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body">
        <a href="#" class="govuk-link">Accounts after changes</a>
      </p> 

      <a href="check-answers" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Review changes
      </a>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}
