{% extends "layouts/main.html" %}

{% block pageTitle %}
  Application submitted  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Suppression successful 
      </h1>
    </div>

    <p class="govuk-body">
      <a href="start" class="govuk-link">Suppress information from a different set of accounts</a>
    </p>
  </div>
</div>

{% endblock %}
